body {
  background: linear-gradient(
      135deg,
      rgba(15, 23, 42, 0.85),
      rgba(31, 41, 55, 0.9)
    ),
    url("/img/bg/background-main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Scroll main*/
$scroll-size: 8px !default;
$scroll-color: rgba(0, 255, 255, 0.6) !default;
$scroll-hover: rgba(0, 255, 255, 0.9) !default;
$scroll-track: transparent !default;

html,
body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #{$scroll-color} #{$scroll-track};
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: $scroll-size;
  height: $scroll-size;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: $scroll-track;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: $scroll-color;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.7);
  transition: background 0.2s, box-shadow 0.2s;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: $scroll-hover;
  box-shadow: 0 0 12px rgba(0, 255, 255, 1);
}
