:root {
  --c-cyan: #00f0ff;
  --c-cyan-rgb: 0 240 255;
  --c-magenta: #ff00ff;
  --c-magenta-rgb: 255 0 255;

  --scroll-size: 8px;
}

body {
  background: linear-gradient(
      135deg,
      rgba(15, 23, 42, 0.85),
      rgba(31, 41, 55, 0.9)
    ),
    url("../img/bg/background-main.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Scroll main*/

html,
body {
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgb(var(--c-cyan-rgb) / 0.6) transparent;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgb(var(--c-cyan-rgb) / 0.6);
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(var(--c-cyan-rgb) / 0.7);
  transition: background 0.2s, box-shadow 0.2s;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--c-cyan-rgb) / 0.9);
  box-shadow: 0 0 12px var(--c-cyan);
}

/* SVG */
.icon {
  stroke-width: 0;
  fill: currentColor;
  stroke: currentColor;
  overflow: visible;
}

/* main BG */
.page-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  inset: 0;
  z-index: -1;

  background: linear-gradient(
      135deg,
      rgba(15, 23, 42, 0.85),
      rgba(31, 41, 55, 0.9)
    ),
    url("/img/bg/background-main.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.sidebar-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
