@use "../abstracts" as a;

@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"),
    url("../fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Medium.woff2") format("woff2"),
    url("../fonts/Orbitron-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Bold.woff2") format("woff2"),
    url("../fonts/Orbitron-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: #{a.$baseFontSize}px;
}
body {
  font-family: a.$font-family;
  color: #fff;
}
