@use "../abstracts" as a;

.container {
  min-height: 100svh;
  min-height: 100dvh;
  margin: 0 auto;
  width: clamp(a.rem(250), 90%, a.rem(1440));
  padding: a.$main-container-padding 0 a.$main-container-padding 0;
}
