@use "../abstracts" as a;

.container {
  width: clamp(a.rem(250), 90%, a.rem(1440));
  min-height: 100svh;
  min-height: 100dvh;
  margin: 0 auto;
  @include a.clamp-size(padding-inline, 16, 40);
  padding: a.$main-container-padding;
}
