@use "../abstracts" as a;

.header {
  border-radius: a.rem(20);
  width: clamp(a.rem(250), 90%, a.rem(1440));
  min-height: a.$header-height;
  position: fixed;
  top: a.rem(20);
  left: 50%;
  transform: translateX(-50%);
  @include a.glassy;
  z-index: 100;
}
