@use "../abstracts" as a;

.register {
  width: clamp(a.rem(250), 90%, a.rem(800));
  height: 500px;
  padding: 40px 0;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 106;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;

  transition: transform var(--t-med) var(--ease),
    opacity var(--t-med) var(--ease), visibility 0s linear var(--t-vis);

  contain: layout paint;

  &__container {
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;

    @include a.glassy;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.05)
    );
  }

  &__item {
    width: 50%;
  }
}

body.register-active .register {
  --t-vis: 0s;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}