@use "sass:math";
@use "variables" as v;
@use "functions" as f;

// @include clamp-font(min, max);
@mixin clamp-font($minPx, $maxPx, $minViewport: 320, $maxViewport: 1440) {
  $minRem: math.div($minPx, v.$baseFontSize);
  $maxRem: math.div($maxPx, v.$baseFontSize);
  $slope: math.div(($maxPx - $minPx), ($maxViewport - $minViewport)) * 100;
  $interceptPx: $minPx - (math.div($slope, 100) * $minViewport);
  $interceptRem: math.div($interceptPx, v.$baseFontSize);

  font-size: clamp(
    #{$minRem}rem,
    #{$interceptRem}rem + #{$slope}vw,
    #{$maxRem}rem
  );
}

// @include clamp-size(property, min, max);
@mixin clamp-size(
  $property,
  $minPx,
  $maxPx,
  $minViewport: 320,
  $maxViewport: 1440
) {
  $minRem: math.div($minPx, v.$baseFontSize);
  $maxRem: math.div($maxPx, v.$baseFontSize);
  $slope: math.div(($maxPx - $minPx), ($maxViewport - $minViewport)) * 100;
  $interceptPx: $minPx - (math.div($slope, 100) * $minViewport);
  $interceptRem: math.div($interceptPx, v.$baseFontSize);

  #{$property}: clamp(
    #{$minRem}rem,
    #{$interceptRem}rem + #{$slope}vw,
    #{$maxRem}rem
  );
}

//inner scrollbar
@mixin customScroll($size: 8px, $thumb: #00f5ff, $track: transparent) {
  overflow: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #{$thumb} #{$track};

  /* WebKit */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $track;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.9);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0 0 14px rgba(0, 255, 255, 1);
  }
}

@mixin glassy {
  background: #10223f; // базовый НЕпрозрачный цвет (подбирается ближе всего к твоему фону)
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.15);
  border-radius: f.rem(25);
  overflow: hidden;
}