$font-family: "Exo 2", sans-serif;
$second-family: "Orbitron", sans-serif;
$baseFontSize: 16 !default;

$header-height: 3.75rem !default; 
$extra-offset: 1.25rem !default; 
$main-container-padding: 1.25rem !default; 
$cube-size: clamp(6.25rem, 20vw, 9.375rem) !default;